#banner
  .banner_content
    %h1 File Cabinet
    %p Your work. Simplified
    %button= link_to 'Enter', new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Hacker iterate latte earned media experiential responsive food-truck. Actionable insight workflow driven big data pitch deck Steve Jobs innovate sticky note cortado thought leader Steve Jobs prototype human-centered design.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
