// DOCS INDEX

#docs {
.doc {
 background: #AE1C23;
 min-height: 140px;
 max-width: 300px;
 border-radius: .5rem;
 margin: 1rem;
 padding: 1rem;
 display:inline-block;
 .title {
   @include bold_font;
   color: white;
   margin: 0;
   left: 4.5%;
   font-size: 1em;
 }
 .date {
   position: left;
   bottom: .25rem;
   color: white;
   font-weight: lighter;
   font-size: .75rem;
 }
 .content {
   bottom: .5rem;
   color: $light_gray;
   font-size: .75rem;
   text-align: center;
 }
}
}

// DOCS SHOW

#doc_show {
.title {
 @include bold_font;
 color: #AE1C23;
 font-size: 2.0rem;
 margin-bottom: 1.25rem;
 padding-bottom: 1rem;
 border-bottom: 1.0px solid rgba(82,158,204, 0.2);
 text-align: center;
}
p {
 font-size: 1.0rem;
 line-height: 1.75;
 text-align: left;
}
.buttons {
 margin-top: 3rem;
 text-align: center;
 a.button {
   padding: .2rem 1.5rem;
   border-radius: 0.1rem;
   text-decoration: none;
   color: #529ECC;
   border: 5px solid #529ECC;
   @include bold_font;
   background: transparent;
 }
}
}
